<footer>
    <div class="footer-top">
        <img src="/images/footer/BuurtcampusFooter.svg" alt="Buurtcampus Oost ">
    </div>
    <div class="footer-middle">
        <ul>
            <li><a href=""></a><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
             </svg></li>
            <li><a href="https://www.buurtcampusoost.nl/s/contact"></a><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-at" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path>
             </svg></li>
            <li><a href="https://www.instagram.com/buurtcampus_oost/"></a><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M16.5 7.5l0 .01"></path>
             </svg></li>
            <li><a href="https://www.buurtcampusoost.nl/s/contact"></a><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
             </svg></li>
        </ul>    
        <form class="newsletter-form">
            <h2>Meld je aan voor de Plantswap nieuwsbrief</h2>
            <p>Geen spam, wel veel handige verzorging tips & tricks! (Je plantjes zullen je dankbaar zijn😉)</p>
            <div class="info">
              <input type="text" placeholder="Je naam">
              <input type="email" placeholder="Je e-mail">
            </div>
            <input type="submit" value="Aanmelden🪴">
        </form>
    </div>      
    <div class="footer-bottom">
        <p>Met 💚 gemaakt door Tessa Viergever</p>
    </div>
</footer>
</body>

</html> 