<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Project Plant Swap | Buurtcampus Oost</title>
    <link rel="stylesheet" href="/styles/styles.css"/>
    <script src="/scripts/index.js" defer></script>
    <link rel="icon" type="image/x-icon" href="MicrosoftTeams-image - kopie.png"/>
  </head>

  <body>
    <header>
        <a class="logo-link" href="/"><img src="/images/logo-favicon/PlantSwap-logo-green.svg" alt="Het Plant Swap logo"/> </a>
         
        <!-- href="#footer-navigation" -->
        <a  id="hamburger-menu"> 
            <svg class="open-menu" xmlns="http://www.w3.org/2000/svg"  width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgb(49, 39, 113)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="6" x2="20" y2="6"/><line x1="4" y1="12" x2="20" y2="12"/><line x1="4" y1="18" x2="20" y2="18"/>
            </svg>

            <svg class="close-menu" width="44" height="44" viewBox="0 0 44 44"  fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 33L36.6667 11" stroke="rgb(49, 39, 113)" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7 11L36.6667 33" stroke="rgb(49, 39, 113)" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        <p>Menu</p></a>

      <nav class="main-navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/plantenlijst">Plantenlijst</a></li>
          <li><a href="/plantenlijst/nieuw-stekje-toevoegen">Toevoegen</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </nav>

    </header>


