<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Plant Swap | Buurtcampus Oost</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="/scripts/index.js" defer></script>
    <link rel="icon" type="image/x-icon" href="MicrosoftTeams-image - kopie.png">
</head>

<body>
    <header>
        <a href="/views/index.ejs"><img src="/images/logo-favicon/PlantSwap-logo-green.svg" alt="Het Plant Swap logo"></a>
        <nav>
            <ul>
                <li><a href="/" aria-label="home">home</a></li>
                <li><a href="/" aria-label="">terug</a></li>
                <li><a href="/" aria-label="">item</a></li>
                <li><a href="/" aria-label="">item</a></li>
            </ul>
        </nav>
    </header>


    <main>


