* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-tertiary-blue);
}

html {
  scroll-behavior: smooth;
}

/* ================ ROOT/CUSTOM PROPERTIES ================ */

:root {
  --color-primary-light-green: rgba(213, 219, 210, 1);
  --color-primary-white: rgba(255, 255, 255, 1);
  --color-secondary-green: rgba(86, 112, 74, 1);
  --color-tertiary-blue: rgb(49, 39, 113);

  --border-radius: 10px;
  --box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --headings-padding: 1rem 1rem 0 1rem;
  --footer-padding: 2rem 1rem 0 1rem;

  --button-border-radius: 5px;
  --button-padding: 0.4rem;
}

/* ================ HEADER STYLING ================ */

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-light-green);
  padding: 1rem 1rem 0 1rem;
}

header a img {
  width: 150px;
  max-width: 100%;
  height: auto;
}

/* werkt nog niet zoals hoort.. */
.main-navigation {
    position: absolute;
    transform: translateY(-100%);
    /* display: none; */
    transition: all 0.25s;
  }
  
  .main-navigation.open {
    transform: translateY(0);
    position: relative;
    padding: 5rem;
    display: contents;
  } 

  /* verwijderd bolletje voor menu item, zet ze in row + centreert ze */
  .main-navigation ul {
  list-style: none;
  display: flex;
  padding: 1rem 0 1rem 0;
}

/* zet links in menu items nog iets netter neer */
.main-navigation ul li a {
  display: flex;
  justify-content: space-around;
  padding: 0.2rem;
}

/* dit is de button met daarin SVG icons voor open/close menu */
#hamburger-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: var(--color-primary-light-green);
  color: var(--color-tertiary-blue);
  
}

/*  */
#hamburger-menu .close-menu {
  display: none;
}

#hamburger-menu.open .open-menu {
  display: none;
}

#hamburger-menu.open .close-menu {
  display: block;
}




/* ================ HEADINGS STYLING ================ */

h1 {
  display: flex;
  justify-content: space-around;
  padding: var(--headings-padding);
}

h2 {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

p {
  line-height: 150%;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

/* ================ STYLING CAROUSEL "TIPS BUURTBEWONERS" ================ */
.box-buurtbewoners {
  padding: var(--headings-padding)
}

.carousel-tips-buurtbewoners {
  border-radius: 5px;
  margin: 10px;
  max-width: 100%;
  overflow: scroll;
  box-shadow: var(--box-shadow);
}

.slides {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;
  width: 60rem;
}

.slides-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "tip-foto-buurtbewoner";
  border-radius: var(--border-radius);
  margin: 10px;
  font-size: 1rem;
  padding: 15px;
  text-align: left;
}

.slides-item p,
.slides-item img {
  grid-area: tip-foto-buurtbewoner;
}

.slides-item p {
  background-color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  place-self: start center;
  border-radius: var(--border-radius);
  padding: 5%;
}

.slides-item img {
  border-radius: var(--border-radius);
  max-width: 100%;
  box-shadow: var(--box-shadow);
}

 /* ================ STYLING "VIND JOUW PLANT" ================ */
 .box-vind-jouw-plant { 
  padding: var(--headings-padding);
  padding-bottom: 2.5rem;
}

.box-vind-jouw-plant p {
  padding-bottom: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: var(--headings-padding);
  margin: 0 3rem 0 3rem;
}

.button-container .btn3 {
 margin-bottom: 1.5rem;
}

/* ===================== PLANT-PAGE.EJS STYLING =================== */
.plantenlijst-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--headings-padding);
  margin: 0 1rem 1rem 1rem;
}

.plantenlijst-wrapper h1{
  margin: 0 3rem 0 3rem;
}

.plantenlijst-wrapper p {
  padding: 0.5rem;
  margin-bottom: 1rem;
}


.stekjes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(213, 219, 210, 0.2);
  margin: 0 1rem 1rem 1rem;  
  border-radius: var(--border-radius);
  padding: 1rem;
}



.wrapper-stekjes .stekjes img {
  border-radius: var(--border-radius);
  max-width: 100%;
  padding: 2rem 3rem 2rem 3rem;
}

.jouw-stekje {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(213, 219, 210, 0.2);
  margin: 0 1rem 1rem 1rem;  
  border-radius: var(--border-radius);
  padding: 1rem;
}

.jouw-stekje img {
  border-radius: var(--border-radius);
  max-width: 100%;
  padding: 1rem;
  border-radius: var(--button-border-radius);
}



/* ================ BUTTON STYLING ================ */

.btn1 {
  background-color: var(--color-secondary-green);
  color: var(--color-primary-white);
  border: solid 1px var(--color-primary-light-green);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);

}

.btn2 {
  background-color: var(--color-primary-white);
  border: solid 1px var(--color-secondary-green);
  color: var(--color-secondary-green);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
}

.btn3 {
  background-color: var(--color-primary-light-green);
  border: solid 1px var(--color-secondary-green);
  color: var(--color-secondary-green);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
}

/* .btn3:hover {
  background-color: var(--color-secondary-green);
  box-shadow:var(--box-shadow);
} 

.btn3:focus {} */

/* ================ FOOTER STYLING ================*/
footer {
}

footer img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  width: 1200px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--footer-padding);
  padding-bottom: 2rem;
  padding-top: 1rem;
  background-color: var(--color-primary-light-green);
}

.footer-middle ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-primary-light-green);
  padding: var(--footer-padding);
}

.footer-bottom {
  display: flex;
  justify-content: center;
  padding: var(--footer-padding);
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  background-color: var(--color-primary-white);
  color: var(--color-primary-white);
}

/* ============ MEDIA QUERIES ================*/

/* nav hamburger icon -> naast elkaar + burger icon weg */
@media screen and (min-width: 650px) {
   .main-navigation {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
  }
  
  .main-navigation ul {
      list-style: none;
      display: flex;
      gap: 1rem;
  }

  .main-navigation ul li a {
      text-decoration: none;
  }

  .main-navigation ul li a:hover {
      border: solid 1px var(--color-secondary-green);
  }

  #hamburger-menu {
      display: none;
  }
}


/* planten pagina planten naast elkaar ipv onder elkaar */
@media screen and (min-width: 650px) {
  .wrapper-stekjes {
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row;
     overflow: scroll;
     max-width: 100%;
     gap: 0.2rem;
 }

 .stekjes {
  margin: 0 0.2rem 0.2rem 0.2rem;
  padding: 1rem;
 }

 .jouw-stekje {
  margin: 0 0.2rem 0.2rem 0.2rem;
  padding: 1rem;
 }

 .wrapper-stekjes .article {
  overflow: hidden;
 }

 .wrapper-stekjes .stekjes img {
  border-radius: var(--border-radius);
  max-width: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.wrapper-stekjes .jouw-stekje img {
  border-radius: var(--border-radius);
  max-width: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
}